.sideBar{
    position: fixed;
    top: 40%;
    right: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 5px;
}
.sideDark{
    position: fixed;
    top: 40%;
    right: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: rgba(14, 11, 21, 0.782);
    border-radius: 5px;
}
@media only screen and (max-width:800px){
    .sideBar{
        display: none;
    }
    .sideDark{
        display: none;
    }
}