.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px;
    background: linear-gradient(0deg,white 0%,  rgb(238, 237, 237) 100%);
}
.containerD{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px;
    background-color:  rgba(14,11,21);
}
.divproj{
    position: relative;
    display: grid;
    grid-template-columns: 40% 30%;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: #0091ff;
    font-size: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.251);
    margin: 0px;
    font-weight: bold;
}
.img{
    width:100%;
}
.link{
    position: absolute;
    top: 78%;
    left: 23%;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-width: 100px;
    background-color: rgba(0, 0, 0, 0.141);
    padding: 3px 30px;
    border-radius: 30px;
    color: black;
}
.linkD{
    position: absolute;
    top: 78%;
    left: 23%;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-width: 100px;
    background-color: rgba(255, 255, 255, 0.141);
    padding: 3px 30px;
    border-radius: 30px;
    color: rgb(255, 255, 255);

}
.headTitle{
    color: rgba(65, 2, 255, 0.63);
    font-weight: bold;
    font-size: 60px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.251);
    margin-bottom: 20px;
}
@media only screen and (max-width:800px){
    .divproj{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img{
        width: 100%;
    }
    .headTitle{
        font-size: 25px;
    }
    .title{
        font-size: 25px;
    }
}
.divText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.tech{
    width: 24px;
    margin: 6px;
}
.techCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 30px;
    text-align: center;
}
.text{
    color: rgba(0, 0, 0, 0.958);
    font-style: oblique;
    padding: 0px 30px;
    text-align: center;
    font-weight: lighter;
    font-size: 17px;
}
.textD{
    color: white;
    font-style: oblique;
    padding: 0px 30px;
    text-align: center;
    font-weight: lighter;
}
.contTitle{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.contImg{
    position: relative;
    padding: 20px;
}