.container{
    background-image: url('https://in-media.apjonlinecdn.com/magefan_blog/Best_HP_Laptops_for_Programming-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    padding-top: 60px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.welcome{
    font-size: 85px;
    color: white;
    text-shadow: 3px 3px 0px black;
    font-weight: bold;
}
.name{
    color: rgba(65, 2, 255, 0.63);
    font-weight: bold;
    font-size: 62px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.251);
}
.avatar{
    border: 10px solid rgba(255, 255, 255, 0.847);
    border-radius: 50%;
    box-shadow: 8px 6px 0px black;
    margin: 20px;
}
.about{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.777);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.aboutP{
    max-width: 60%;
    font-style: oblique;
    color: rgb(99, 99, 99);
    font-size: 15px;
    cursor:copy;
}
.btn{
    background-color:rgba(65, 2, 255, 0.63) ;
    color: white;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.484);
    padding:3px 15px;
}
.btnR{
    background-color: rgb(0, 156, 253);
    color: white;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.484);
    padding:3px 15px;
    cursor: pointer;

}
.row{
    display: flex;
}
.language{
    min-width: 250px;
    display: flex;
    justify-content: flex-end;
}
.imgL{
    margin: 10px;
}