.first{
    min-height: 100vh;
}
.appBar{
    position: fixed;
    z-index: 1;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    background-color: white;
    width: 100%;
}
.item{
    list-style: none;
    margin: 5px 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 30px;
}
.imgHero{
    width: 100%;
    position: absolute;
    z-index: -1;
}