.bg{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(37, 0, 204) 100%);
    position: relative;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.tSkills{
    position: absolute;
    animation: scroll 30s alternate infinite;
    background-color: black;
    height: 45px;
    width: auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
}
.tSk{
    color: white;
    font-size: 25px;
    padding: 15px;
    display: flex;
    flex-direction: row;
}
.col{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 30% 40%;
    justify-content: center;
    width: 100%;
}
.cols{
    text-align: center;
}
.title{
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: center;
}
.imgCont{
    display: list-item;
    list-style: none;
}
.img{
    width: 70px;
    margin: 15px;
}
@keyframes scroll {
    0%{
        transform: translateX(-350px);
    }

    50% {
        transform: translateX(350px);
   }

    100% {
         transform: translateX(-350px);
    }
}
@media only screen and (max-width:1000px){
    .img{
        width: 60px;
        margin: 10px;
    }
    .tSkills{
        height: 30px;
    }
    .tSk{
        padding: 5px;
        font-size: 20px;
    }
    .col{
        grid-template-columns: 40% 40%;
        margin-top: 110px;
    }
}
@media only screen and (max-width:800px){
    .img{
        width: 60px;
        margin: 10px;
    }
    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 30px;
        margin-top: 95px;
    }
}
@media only screen and (max-width:360px){
    .tSkills{
        height: 25px;
    }
    .tSk{
        padding: 5px;
        font-size: 15px;
    }
}