.first{
    min-height: 100vh;
}
.appBar{
    position: fixed;
    z-index: 1;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 100%;

}
.item{
    list-style: none;
    margin: 5px 10px;
    font-size: 25px;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 30px;
    font-weight: bolder;
}
.modalitem{
    list-style: none;
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}
.imgHero{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 200px;
}
.btn{
    background: none;
    border: none;
    outline: none;
}
.bar{
    display: none;
}
@media only screen and (max-width:800px){
.bar{
    display: flex;
    justify-content: space-around;
    min-height: 60px;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.appBar{
    display: none;
}

}

.modal{
    position:fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 8px;
    border-radius: 15px;
    border-radius: 0 0  15px/15px;
}