.container{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/bg_cert.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding:95px 0px;
}
.containerD{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/bg_certD.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding:95px 0px;
}
.title{
    color: rgba(65, 2, 255, 0.63);
    font-weight: bold;
    font-size: 62px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.251);
    margin-bottom: 60px;
}

.paper{
    width: 50%;
}

@media only screen and (max-width:800px){
    .title{
        font-size: 25px;
        margin-bottom: 40px;
    }
    .paper{
        width: 70%;
    }
    .container{
        display: flex;
        justify-content:center;
    }
}