.container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/bg_cert.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding:95px 0px;
    padding-bottom: 0px;
}
.containerD{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/bg_certD.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding:95px 0px;
    padding-bottom: 0px;
}
.title{
    color: rgba(65, 2, 255, 0.63);
    font-weight: bold;
    font-size: 62px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.251);
    margin-bottom: 60px;
}

.paper{
    width: 50%;
}
.footer{
    background-color: rgb(203, 203, 203);
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
.me{
    display: flex;
    align-items: center;
}

@media only screen and (max-width:800px){
    .title{
        font-size: 25px;
        margin-bottom: 40px;
    }
    .paper{
        width: 70%;
    }
}