.container{
    background-image: url('https://in-media.apjonlinecdn.com/magefan_blog/Best_HP_Laptops_for_Programming-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    padding-top: 60px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.welcome{
    font-size: 85px;
    color: white;
    text-shadow: 3px 3px 0px black;
    font-weight: bold;
}
.name{
    color: rgba(65, 2, 255, 0.444);
    font-weight: bold;
    font-size: 62px;
    background-image: url('https://i.pinimg.com/originals/32/95/ec/3295eccd4245fde617fea18b2c0cfc17.gif');
    background-clip: text;
    background-position-y: center;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.251);
}
.avatar{
    border: 10px solid rgba(255, 255, 255, 0.847);
    border-radius: 50%;
    box-shadow: 8px 6px 0px black;
    margin: 20px;
}
.about{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.579);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.aboutP{
    max-width: 60%;
    font-style: oblique;
    color: rgb(99, 99, 99);
    font-size: 20px;
}